# Test report assignment 1: (title)

(A test report is the report of the execution of the test plan by a team member (someone other than the author of the test plan!). They note at each step of the test plan whether the obtained result corresponds with what was expected. If not, then it is important to specify in detail what went wrong, what the effective result was, what error messages were generated, etc. The tester can immediately create a Trello ticket and assign the appropriate team member. Refer to the ticket from the test report. When the problem is resolved, a retest is performed, and a separate test report is written.) 

## Test X

- Executed by: NAME
- Date: DATUM
- Github commit: COMMIT HASH (i.e. the state of the repository at the time of testing.)
